name: build
on:
  - push
env:
  COMPOSER_FLAGS: "--ansi --no-interaction --no-progress --prefer-dist --optimize-autoloader"
jobs:
  fixture:
    name: Generate test fixture
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install pip and pipenv
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade pipenv
      - name: Install PHP and Composer 2
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.3
          tools: 'composer:v2'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Install dependencies
        run: 'composer install ${{ env.COMPOSER_FLAGS }}'
      - name: Start PHP server
        run: 'php -S localhost:8080 &'
      - name: Build TUF fixture and run tests
        run: 'composer test'
      - name: Check dependencies for known security vulnerabilities
        run: 'composer audit'
