name: build
on:
  - push
env:
  COMPOSER_FLAGS: "--ansi --no-interaction --no-progress --prefer-dist --optimize-autoloader"
jobs:
  fixture:
    name: Generate test fixture
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/checkout@v2
        with:
          repository: php-tuf/php-tuf
          ref: main
          path: php-tuf
          fetch-depth: 1
      - name: Copy Pipfile from PHP-TUF
        run: |
          cp -f php-tuf/Pipfile* .
      - id: cache-pip
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/Pipfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - id: cache-pipenv
        uses: actions/cache@v2
        with:
          path: ~/.local/share/virtualenvs
          key: ${{ runner.os }}-pipenv-${{ hashFiles('**/Pipfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pipenv-
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install pip/pipenv
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade pipenv
      - name: Install dependencies via pipenv
        run: |
          if [ -f Pipfile.lock ]; then pipenv --three install; fi
      - name: Generate fixtures
        run: |
          pipenv run python generate.py
          mkdir -p ./test-project/tuf
          cp -f ./metadata/root.json ./test-project/tuf/localhost.json
          tar -c -z -f fixture.tar.gz metadata ./test-project/tuf/localhost.json
      - name: Store fixtures as artifact
        uses: actions/upload-artifact@v3
        with:
          name: fixture
          path: fixture.tar.gz
          retention-days: 5

  test:
    name: Run tests
    needs: fixture
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install PHP and Composer 2
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.3
          tools: 'composer:v2'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Install dependencies
        run: 'composer install ${{ env.COMPOSER_FLAGS }}'
      - name: Download fixture
        uses: actions/download-artifact@v3
        with:
          name: fixture
      - name: Extract fixture
        run: tar -x -v -f fixture.tar.gz
      - name: Start PHP server
        run: 'php -S localhost:8080 &'
      - name: Build TUF fixture and run tests
        run: 'composer test'
      - name: Check dependencies for known security vulnerabilities
        run: 'composer security'
